.body__no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.modal__container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 430px;
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
}

.modal__image_container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
}

.modal__image_view {
  max-height: 540px;
  max-width: 816px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__close {
  cursor: pointer;
  background-image: url(../images/close.svg);
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  border: none;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-family: Inter, Arial, Helvetica, serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 54px;
  line-height: 29px;
}

.modal__input {
  width: 358px;
  height: 14px;
  padding: 0;
  color: #000;
  font-size: 14px;
  font-family: Inter, Arial, Helvetica, serif;
  align-self: center;
  border: none;
  padding-bottom: 13.26px;
  margin-bottom: 29.74px;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  line-height: 17px;
}

.modal__save {
  cursor: pointer;
  width: 358px;
  height: 50.152px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Inter, Arial, Helvetica, serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 36.51px;
  margin-top: 18.26px;
  border: none;
  border-radius: 2px;
  line-height: 22px;
}

.modal__save:hover {
  opacity: 0.8;
}

.modal__image_caption {
  color: #fff;
  font-family: Inter, Arial, Helvetica, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 830px) {
  .modal__image_view {
    max-height: 540px;
    max-width: 600px;
  }
}

@media screen and (max-width: 630px) {
  .modal__close {
    height: 26px;
    width: 26px;
    top: -39.62px;
    right: 0px;
  }
  .modal__image_view {
    max-height: 500px;
    max-width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .modal {
    padding-left: 19px;
    padding-right: 19px;
  }

  .modal__container {
    width: 282px;
  }

  .modal__heading {
    margin-left: 22px;
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 75px;
    line-height: 22px;
  }

  .modal__input {
    width: 238px;
    line-height: 17px;
  }

  .modal__save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 17px;
  }

  .modal__image_view {
    max-height: 299px;
    max-width: 240px;
  }
}
