.page {
  background-color: black;
  color: white;
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: white;
    color: black;
  }
}

.page__light {
  background-color: white;
  color: black;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
